<h1>{{note.title}}</h1>
<h3>{{note.body}}</h3>

<br>
<p>{{formatDate note.dateCreated}}</p>

<br>
  <form action="/notes/delete/{{note._id}}" method="POST" >
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete note</button> 
  </form>

<a href="/notes/edit/{{note._id}}"> Edit note</a>